{:paths ["src" "resources"]
 :deps {org.clojure/clojure   {:mvn/version "1.12.5"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        potemkin/potemkin     {:mvn/version "0.4.9"}
        org.subtide/subtide.schedule {:local/root "subtide/schedule"}}

 :aliases
 {:test
  {:extra-paths ["test" "test-resources"]}

  :test-runner
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}}}
