{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure     {:mvn/version "1.12.5"}
  ; Decode OSC timetag
  commons-net/commons-net {:mvn/version "3.10.0"}
  ; ZeroConf support
  javax.jmdns/jmdns       {:mvn/version "3.4.1"}
  org.subtide/subtide.shared {:local/root "../shared"}}

 :aliases
 {:test
  {:extra-paths ["test" "test-resources"]}

  :test-runner
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}}}
